@media (min-width: 1150px) {
    .onMob {
        display: none !important;
    }
}

@media (max-width: 1150px) {
    .onDesc {
        display: none !important;
    }

    .container, .artists__slider-btns {
        padding: 0 27px;
    }

    .artists__slider-btns > * {
        width: 33%;
    }

    .artists__swiper-close {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }

    .artists__swiper-next {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .header__row {
        width: 100%;
        padding: 21px 0;
    }

    .wrapper {
        padding-top: 60px;
    }

    .home__it-box {
        height: 530px;
    }

    .artists__form {
        margin-left: 0;
    }

    .form {
        padding: 20px;
    }

    .header__nav ul a:before {
        display: none !important;
    }

    .burger {
        margin-left: auto;
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }

    .header .lang {
        margin-left: auto;
    }

    .header__nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1111;
        background: rgba(0, 0, 0, 0.52);
        opacity: 0;
        visibility: hidden;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: end;
        align-items: flex-end;
        transition: 0.4s;
    }

    .header__nav-close {
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .header__nav ul {
        position: absolute;
        top: 0px;
        right: -350px;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 17px 0 0 0;
        -ms-flex-align: start;
        align-items: start;
        background: #fff;
        width: 275px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
        height: 100vh;
        overflow-y: auto;
        transition: 0.4s;
    }

    .header__nav ul li {
        width: 100%;
        border: none;
    }

    .header__nav ul a {
        padding: 13px 28px;
        margin-left: 0;
        text-align: right;
        width: 100%;
        display: block;
        transition: 0.3s;
    }

    .header__nav.active {
        opacity: 1;
        visibility: visible;
    }

    .header__nav.active ul {
        right: 0;
    }

    .header__nav.active .header__nav-close {
        right: 0;
    }

    .home__title {
        margin-bottom: 36px;
    }

    h1, .home__title {
        font-size: 30px;
        line-height: 1.2;
    }

    h1 span, .home__title span {
        margin-bottom: 36px;
    }

    h1 *, .home__title * {
        font-size: 30px;
        line-height: 1.2;
    }

    h2 {
        margin-bottom: 30px;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .mainBox {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .mainBox__list {
        margin-left: 0;
    }

    .mainBox__list li {
        margin-bottom: 10px;
    }

    .mainBox h5 {
        margin-bottom: 20px;
    }

    .mainBox__r-img {
        margin-left: 0;
        margin-top: 20px;
    }

    .story h1 {
        margin-bottom: 30px;
    }

    .item__title {
        width: calc(100% - 30px);
    }

    .item__title a:after {
        margin-left: 30px;
    }

    .cards-v2 .card {
        width: 100% !important;
    }

    .artists__txt {
        margin-left: 0;
    }

    .wrapper {
        padding-bottom: 100px;
    }

    .artists__l {
        min-height: 420px;
    }

    .artists__l img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .mainBox__l-img {
        margin-bottom: 20px;
    }
}

@media (max-width: 750px) {
    .mobSlice3 .card {
        display: none;
    }

    .mobSlice3 .card:nth-child(1), .mobSlice3 .card:nth-child(2), .mobSlice3 .card:nth-child(3) {
        display: block;
    }

    .home__img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 35px;
    }

    .cards-v2 {
        grid-gap: 25px;
    }

    .cards-v2 .card__img {
        margin-bottom: 0;
    }

    .cards-v2 .card:nth-child(2n-1) .card__img {
        height: 420px;
    }

    .cards-v2 .card:nth-child(2n) .card__img {
        height: 215px;
    }

    .card.big .card__img {
        height: 420px;
    }

    .artists__swiper-prev span {
        margin-right: 10px;
    }

    .artists__swiper-next span {
        margin-left: 10px;
    }

    .mainBox h5 {
        font-size: 18px;
        line-height: 24px;
    }

    .mainBox__list {
        margin-bottom: 34px;
    }

    .mainBox p {
        font-size: 16px;
        line-height: 24px;
    }

    .mainBox p:last-child {
        margin-bottom: 0;
    }

    .mainBox h1 {
        font-size: 30px;
    }

    .mainBox h1 * {
        font-size: 30px;
    }
}

@media (max-width: 430px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 361px) {
    .item__title * {
        font-size: 24px !important;
    }
}